html {
  font-family: "San Francisco Regular";
  font-size: 1.2rem;
}

body {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 5em;
}

main {
  width: fit-content;
  padding: 2%;
  margin: 0 auto;
  align-items: center;
}

main > h2 {
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

main > ol {
  background-color: #eee;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

li {
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

a:hover {
  color: #ec008c;
}

a {
  text-decoration: none;
  color: #222;
}

footer {
  width: 100%;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.24);
  color: #eee;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}
