@import url(css/linear-progress-bar.css);
@import url(css/circular-segmented-progress-bar.css);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #efefef;
  padding-bottom: 5em;
}

#linear-section {
  margin-top: 7em;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  padding: 2em 0;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
}

section {
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
}

.progress-bar-container,
aside {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.ligth {
  background-color: #fff !important;
}

aside ul {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1.5em;
  list-style: none;
  font-size: 1.1em;
}

aside ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
}

.fill-up {
  float: right;
  background-color: var(--linear-color);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 3px;
  cursor: pointer;
}

input[type="range"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  border-color: transparent;
  color: transparent;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 1em 0;
  text-align: center;
  color: #fff;
  font-size: 1.1em;
  z-index: 999;
}
