*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "San Francisco Regular";
  scroll-behavior: smooth;
}

header {
  width: 100%;
  position: fixed;
  padding: 1em 2em;
  z-index: 999;
  background-color: #e0002c;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

nav {
  position: absolute;

  top: 100%;
  left: 0;
  z-index: 999;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

nav ul {
  list-style: none;
  background-color: #111;
}

nav li a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0.7em 1.5em;
  font-size: 1.1em;
  font-weight: 500;

  text-decoration: none;
  color: #fff;
  opacity: 0;

  transition: opacity 100ms ease-in-out, background-color 100ms ease-in-out,
    color 100ms ease-in-out;
}

nav li a:hover {
  color: #fff;
  background-color: #333;
  transition: background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 150ms,
    background-color 100ms ease-in-out, color 100ms ease-in-out;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 1.5em;
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
}

.menu-icon::after {
  top: 6px;
}

.menu-icon::before {
  bottom: 6px;
}

.nav-toggle-label:hover {
  cursor: pointer;
}

article {
  padding: 1rem 2rem;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  padding-top: 12vh;
  background-color: #f2f2f2;
}

.card {
  background-color: #fff;
  height: fit-content;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #222;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.card-details-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0002c;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

.label-toggle {
  cursor: pointer;
}

.chevron {
  transition: transform 200ms ease-in-out;
}

.chevron-open {
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

.card-details {
  height: 0rem;
  padding-top: 1px;
  opacity: 0;
  transition: height 200ms ease-in-out, opacity 150ms ease-in-out,
    padding 200ms ease-in-out;
}

.card-details-open li {
  text-justify: inter-character;
  margin-bottom: 1em;
}

.card-details-open {
  background-color: #fff;
  padding: 1rem;
  height: 20rem;
  overflow: scroll;
  opacity: 1;
  transition: height 300ms ease-in-out, opacity 200ms ease-in-out 150ms,
    padding 200ms ease-in-out;
}

.card-body {
  height: 250px;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: black;
  background-position: 50% 50%;
}

sup {
  font-size: 0.7em;
}

.image-processor {
  background-image: url("img/i5.jpg");
  background-size: cover;
  background-position: center;
}

.image-motherboard {
  background-image: url("img/placa.jpg");
}

.image-ram {
  background-image: url("img/ram.jpg");
}

.image-chasis {
  background-image: url("img/chasis.png");
}

.image-ssd {
  background-image: url("img/ssd.jpg");
}

.image-hdd {
  background-image: url("img/hdd.jpg");
}

.image-wifi {
  background-image: url("img/tplink.png");
}

.image-video {
  background-image: url("img/video.jpg");
}

.image-fuente {
  background-image: url("img/fuente.png");
}

.image-display {
  background-image: url("img/monitor.jpg");
}

.image-mouse {
  background-image: url("img/mouse.jpg");
}

.image-teclado {
  background-image: url("img/teclado.png");
}
.card-abstract {
  font-size: 1.1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  text-align: center;
}

.card-details ul,
.card-details-open ul {
  margin-left: 1em;
  line-height: 2em;
  list-style: none;
}

.card-details-open ul li {
  text-align: justify;
}

.card-footer {
  background-color: #222;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.up {
  display: block;
  position: fixed;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 0.5em 0.3em 0.5em;
  top: 85vh;
  right: 3vh;
  background-color: #000;
  font-family: "San Francisco Regular";
  font-size: 1.1em;
  color: #fff;
  border-radius: 5px;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.up.active {
  opacity: 1;
}

.icon-up {
  filter: invert(100%);
  padding: 0;
  margin: 0;
}

.icon-up {
  width: 25px;
  height: 25px;
}
